<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/jquery-ui.css" th:href="@{/css/jquery-ui.css}"/>
    <title th:text="#{expense.page.title}">Title</title>
</head>

<body>
<div>
    <form action="#" th:action="@{/expense}" th:object="${expenseView}" method="post">
        <ul th:if="${#fields.hasErrors('*')}" style="border: 1px solid red;">
            <li th:each="err : ${#fields.errors('*')}" th:text="${inputError}">Input is incorrect</li>
        </ul>
        <fieldset>
            <span style="padding-left: 800px">
           <label> Expense Date(dd/MM/yyyy) : </label> <input type="text" id="datePicker"
                                                              th:field="*{expenseDate}"/></span>
            <table class="box-table-a">
                <caption th:text="#{expense.table.caption}">Monthly Expense Table(Static data)</caption>
                <thead>
                <tr>
                    <th scope="col" th:text="#{expense.id.label}">Id</th>
                    <th scope="col" th:text="#{expense.product.name.label}">Product Name</th>
                    <th scope="col" th:text="#{expense.product.brand.label}">Product Brand</th>
                    <th scope="col" th:text="#{expense.product.quantity.label}">Quantity</th>
                    <th scope="col" th:text="#{expense.product.rate.label}">Rate</th>
                    <th scope="col" th:text="#{expense.product.price.label}">Price</th>
                    <th scope="col" th:text="#{expense.product.empty}">Price</th>
                    <th scope="col">
                        <button type="submit" name="addRow" th:text="#{expense.row.add}">Add Product</button>
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="product,prodStat : *{products}">
                    <td>
                        <input id="productId+${prodStat.count}" type="text" th:value="${prodStat.count}"
                               th:field="*{products[__${prodStat.index}__].id}" placeholder="id"/>
                    </td>
                    <td>
                        <input id="productName" type="text" th:field="*{products[__${prodStat.index}__].name}"
                               placeholder="name"/>
                    </td>
                    <td>
                        <input id="productBrand" type="text" th:field="*{products[__${prodStat.index}__].brand}"
                               placeholder="brand"/>
                    </td>

                    <td>
                        <input id="productQuantity" type="text" th:field="*{products[__${prodStat.index}__].quantity}"
                               placeholder="quantity"/>
                    </td>
                    <td>
                        <input id="productRate" type="text" th:field="*{products[__${prodStat.index}__].rate}"
                               placeholder="rate"/>
                    </td>
                    <td>
                        <input id="productPrice" type="text" th:field="*{products[__${prodStat.index}__].price}"
                               placeholder="price"/>
                    </td>
                    <td>
                        <button type="submit" name="addRow" th:value="${prodStat.index}" th:text="#{expense.row.add}">
                            Add Row
                        </button>
                    </td>
                    <td>
                        <button type="submit" name="removeRow" th:value="${prodStat.index}"
                                th:text="#{expense.row.remove}">Remove row
                        </button>
                    </td>
                </tr>
                <tr>
                    <td style="float: left">Total : <input type="text" th:field="*{totalExpense}"/></td>
                </tr>
                </tbody>
            </table>
        </fieldset>
        <div class="submit">
            <button type="submit" name="saveProducts"> Save</button>
            <button type="submit" name="retrieveProducts"> show</button>
        </div>
    </form>
</div>
<script src="../../js/jQuery-2.1.1.js" th:src="@{/js/jQuery-2.1.1.js}"></script>
<script src="../../js/expenseTable.js" th:src="@{/js/expenseTable.js}"></script>
<script src="../../js/jquery-ui.js" th:src="@{/js/jquery-ui.js}"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

</body>
</html>
