<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/jquery-ui.css" th:href="@{/css/jquery-ui.css}"/>
    <title th:text="#{expense.page.title}">Title</title>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/view/expenseChart}">Expense Management</a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>
<div>
    <form action="#" th:action="@{/create/expense}" th:object="${expenseView}" method="post">
        <ul th:if="${#fields.hasErrors('*')}" style="border: 1px solid red;">
            <li th:each="err : ${#fields.errors('*')}" th:text="${inputError}">Input is incorrect</li>
        </ul>

        <h2 class="sub-header" th:text="#{expense.table.caption}">Add/delete products</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" th:text="#{expense.id.label}">Id</th>
                    <th scope="col" th:text="#{expense.product.name.label}">Product Name</th>
                    <th scope="col" th:text="#{expense.product.brand.label}">Product Brand</th>
                    <th scope="col" th:text="#{expense.product.quantity.label}">Quantity</th>
                    <th scope="col" th:text="#{expense.product.rate.label}">Rate</th>
                    <th scope="col" th:text="#{expense.product.price.label}">Price</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="product,prodStat : *{products}">
                    <td th:text="${prodStat.count}">1</td>
                    <td>
                        <input id="productName" type="text" th:field="*{products[__${prodStat.index}__].name}"
                               placeholder="name"/>
                    </td>
                    <td>
                        <input id="productBrand" type="text" th:field="*{products[__${prodStat.index}__].brand}"
                               placeholder="brand"/>
                    </td>

                    <td>
                        <input id="productQuantity" type="text" th:field="*{products[__${prodStat.index}__].quantity}"
                               placeholder="quantity"/>
                    </td>
                    <td>
                        <input id="productRate" type="text" th:field="*{products[__${prodStat.index}__].rate}"
                               placeholder="rate"/>
                    </td>
                    <td>
                        <input id="productPrice" type="text" th:field="*{products[__${prodStat.index}__].price}"
                               placeholder="price"/>
                    </td>
                    <td>
                        <button class="btn btn-xs btn-success" type="submit" name="addRow" th:value="${prodStat.index}"
                                th:text="#{expense.row.add}">
                            Add Row
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-xs btn-danger" type="submit" name="removeRow"
                                th:value="${prodStat.index}"
                                th:text="#{expense.row.remove}">Remove row
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <button class="btn btn-success" type="submit" name="saveProducts"> Save</button>
                <button class="btn btn-success" type="submit" name="retrieveProducts"> show</button>
            </div>
        </div>
    </form>
</div>
<script src="../../js/jQuery-2.1.1.js" th:src="@{/js/jQuery-2.1.1.js}"></script>
<script src="../../js/jquery-ui.js" th:src="@{/js/jquery-ui.js}"></script>
<script src="../../js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>

</body>
</html>
