<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/jquery-ui.css" th:href="@{/css/jquery-ui.css}"/>
    <title th:text="#{expense.page.title}">Welcome to Home Monthly Expense View</title>
</head>

<body class="welcome_home_bg">
<form action="#" th:action="@{/expense}">

    <div>
        <span th:text="#{welcome.message}">Welcome to Monthly Home Expense Report!!!</span>
            <span><img
                    src="../../img/home_resized.jpg"
                    th:attr="src=@{/img/home_resized.jpg},title=#{home.img.title},alt=#{home.img.alt}"/></span>


        <input type="submit" value="Click to Explore..." class="btn btn-primary"/>
    </div>


</form>
<script src="../../js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<script src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
</body>
</html>